/*conmtrol + chif + c : muestra colores*/


/*-----------------------------Liso 3-----------------------------------------*/

.Targ_Circul_Lis_3 {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-image: url("Images/fondolis2-22222.png");
	/*"Images/Imagen2.jpg"*/
	background-size: 100% 100%;
	position: relative;
	
}

/*posision de todo el cuadro con texto e imagen*/
.LisoNum3 {
	position: absolute;
	top: 10rem;
	left: 20rem;
	width: 650px;
	height: 350px;
	opacity: 1;
	border-radius: 20px;
	display: flex; 
	align-items: center;
	border-radius: 20px;
	transition: 0.5s;
	object-fit: cover;
	


	}
/*-----------------------------------*/
.LisoNum3 .contenid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.LisoNum3 .contenid::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	clip-path: circle(120px at center);
	transition: 0.5s;

}

.LisoNum3:hover .contenid:before {
	background: #58573E;
	clip-path: circle(400px at center);
}

.LisoNum3 img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-20px,-50%);
	height: 400px;
	pointer-events: none;
	transition: 0.5s;

}

.LisoNum3:hover img {
	left: 72%;
	height: 500px;

}

/**/
.LisoNum3 .content_tex {
	position: relative;
	width: 50%;
	left: 50%;
	padding: 20px 20px 20px 40px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}

.LisoNum3:hover .content_tex {
	left: 0;
	opacity: 1;
	visibility: visible;
}

.LisoNum3 .content_tex h2 {
	color: #fff;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 2.2em;
	line-break: 1em;
	margin-bottom: 25px;
}

.LisoNum3 .content_tex p {
	color: #fff;
	font-family: serif;
	
}
			@media (max-width: 991px) {
					.LisoNum2 {
						width: auto;
						max-width: 350px;
						align-items: flex-start;
						margin: 10px;
					}

			.LisoNum3:hover {
				height: 700px;
			}
			.LisoNum3 .content_tex {
				width: 90%;
				left: 0;
				padding: 30px;
			}
			.LisoNum3:hover img {
				top: 70%;
				left: 28%;
				height: 400px;
			}
		}
				@media (max-width: 1801px) {
						.LisoNum3 {
						top: 10%;
						width: auto;
						left: 18%;
						max-width: 550px;
						align-items: flex-start;
						margin: 10px;
						}
						/*ancho de el texto azul*/
						.LisoNum3 .content_tex {
						width: 55%;
						left: 0em;
						padding: 30px;
						}
						/*posicion de la imagen 1*/
						.LisoNum3 img {
						left: 50%;
						height: 350px;

						}
						/*posicion del tamaño cuando se abre*/
						.LisoNum3:hover img {
						top: 50%;
						left: 65%;
						height: 380px;
							}
						}
						@media (max-width: 1601px) {
						.LisoNum3 {
						top: 10%;
						width: auto;
						left: 15%;
						max-width: 590px;
						align-items: flex-start;
						margin: 10px;
						}
						/*ancho de el texto azul*/
						.LisoNum3 .content_tex {
						width: 55%;
						left: 0em;
						padding: 30px;
						}
						/*posicion de la imagen 1*/
						.LisoNum3 img {
						left: 50%;
						height: 350px;

						}
						/*posicion del tamaño cuando se abre*/
						.LisoNum3:hover img {
						top: 50%;
						left: 65%;
						height: 480px;
							}
						}
							@media (max-width: 1401px) {
							.LisoNum3 {
										top: 10%;
										width: auto;
										left: 5%;
										max-width: 600px;
										align-items: flex-start;
										margin: 50px;
										}
										/*ancho de el texto azul*/
										.LisoNum3 .content_tex {
										width: 55%;
										left: 0em;
										padding: 30px;
										}
										/*posicion de la imagen 1*/
										.LisoNum3 img {
										left: 50%;
										height: 350px;

													}
										/*posicion del tamaño cuando se abre*/
										.LisoNum3:hover img {
										top: 50%;
										left: 65%;
										height: 380px;

										}
									}

									@media (max-width: 1101px) {
									.LisoNum3 {
										top: 10%;
										width: auto;
										left: 5%;
										max-width: 500px;
										align-items: flex-start;
										margin: 50px;
										}
										/*ancho de el texto azul*/
										.LisoNum3 .content_tex {
										width: 55%;
										left: 0em;
										padding: 30px;
										}
										/*posicion de la imagen 1*/
										.LisoNum3 img {
										left: 50%;
										height: 350px;

													}
										/*posicion del tamaño cuando se abre*/
										.LisoNum3:hover img {
										top: 50%;
										left: 65%;
										height: 370px;

										}
									}
										@media (max-width: 999px) {
										.LisoNum3 {
											top: 10%;
										width: auto;
										left: -9%;
										max-width: 400px;
										align-items: flex-start;
										margin: 50px;
										}
										/*ancho de el texto azul*/
										.LisoNum3 .content_tex {
										width: 55%;
										left: 0em;
										padding: 30px;
										}
										/*posicion de la imagen 1*/
										.LisoNum3 img {
										left: 50%;
										height: 350px;
										}
										/*posicion del tamaño cuando se abre*/
										.LisoNum3:hover img {
											top: 50%;
											left: 70%;
											height: 300px;

											}
										}
											@media (max-width: 991px) {
													.LisoNum3 {
													top: 10%;
													width: auto;
													left: -10%;
													max-width: 700px;
													align-items: flex-start;
													margin: 70px;
													}
													/*posicion al poner el mouse*/
													.LisoNum3:hover {
														height: 400px;
													}
													/*ancho de el texto azul*/
													.LisoNum3 .content_tex {
													width: 55%;
													left: 10;
													padding: 30px;
													}
													/*posicion de la imagen 1*/
													.LisoNum3 img {
													left: 50%;
													height: 300px;
													}
													/*posicion del tamaño cuando se abre*/
													.LisoNum3:hover img {
														top: 50%;
														left: 79%;
														height: 300px;

														}
													}
											@media (max-width: 981px) {
											.LisoNum3 {
														top: 10%;
														width: auto;
														left: 10%;
														max-width: 450px;
														align-items: flex-start;
														margin: 50px;
													}
													/*posicion al poner el mouse*/
													.LisoNum3:hover {
														height: 550px;
													}
													/*ancho de el texto azul*/
													.LisoNum3 .content_tex {
														width: 90%;
														left: 0em;
														padding: 30px;
													}
													/*posicion de la imagen 1*/
													.LisoNum3 img {
														left: 35%;
														height: 270px;

													}
													/*posicion del tamaño cuando se abre*/
													.LisoNum3:hover img {
														top: 74%;
														left: 33%;
														height: 250px;

													}
												}

												@media (max-width: 851px) {
												.LisoNum3 {
														top: 15%;
														width: auto;
														left: 7%;
														max-width: 500px;
														align-items: flex-start;
														margin: 50px;
													}
													/*posicion al poner el mouse*/
													.LisoNum3:hover {
														height: 550px;
													}
													/*ancho de el texto azul*/
													.LisoNum3 .content_tex {
														width: 90%;
														left: 0em;
														padding: 30px;
													}
													/*posicion de la imagen 1*/
													.LisoNum3 img {
														left: 35%;
														height: 250px;

													}
													/*posicion del tamaño cuando se abre*/
													.LisoNum3:hover img {
														top: 75%;
														left: 33%;
														height:250px;

													}
												}
													@media (max-width: 781px) {
													.LisoNum3 {
														top: 15%;
														width: auto;
														left: 4%;
														max-width: 500px;
														align-items: flex-start;
														margin: 50px;
													}
													/*posicion al poner el mouse*/
													.LisoNum3:hover {
														height: 550px;
													}
													/*ancho de el texto azul*/
													.LisoNum3 .content_tex {
														width: 90%;
														left: 0em;
														padding: 30px;
													}
													/*posicion de la imagen 1*/
													.LisoNum3 img {
														left: 35%;
														height: 270px;

													}
													/*posicion del tamaño cuando se abre*/
													.LisoNum3:hover img {
														top: 75%;
														left: 33%;
														height:250px;

													}
												}
														@media (max-width: 731px) {
													.LisoNum3 {
														top: 15%;
														width: auto;
														left: 1%;
														max-width: 500px;
														align-items: flex-start;
														margin: 50px;
													}
													/*posicion al poner el mouse*/
													.LisoNum3:hover {
														height: 550px;
													}
													/*ancho de el texto azul*/
													.LisoNum3 .content_tex {
														width: 90%;
														left: 0em;
														padding: 30px;
													}
													/*posicion de la imagen 1*/
													.LisoNum3 img {
														left: 35%;
														height: 270px;

													}
													/*posicion del tamaño cuando se abre*/
													.LisoNum3:hover img {
														top: 75%;
														left: 33%;
														height: 250px;

													}
												}
													@media (max-width: 711px) {
													.LisoNum3 {
														top: 15%;
														width: auto;
														left: 2%;
														max-width: 500px;
														align-items: flex-start;
														margin: 50px;
													}
													/*posicion al poner el mouse*/
													.LisoNum3:hover {
														height: 550px;
													}
													/*ancho de el texto azul*/
													.LisoNum3 .content_tex {
														width: 120%;
														left: 0em;
														padding: 20px;
													}
													/*posicion de la imagen 1*/
													.LisoNum3 img {
														left: 35%;
														height: 270px;

													}
													/*posicion del tamaño cuando se abre*/
													.LisoNum3:hover img {
														top: 68%;
														left: 33%;
														height: 280px;

													}
												}
																@media (max-width: 695px) {
																.LisoNum3 {
																	top: 15%;
																	width: auto;
																	left: 10%;
																	max-width: 400px;
																	align-items: flex-start;
																	margin: 10px;
																}
																/*posicion al poner el mouse*/
																.LisoNum3:hover {
																	height: 550px;
																}
																/*ancho de el texto azul*/
																.LisoNum3 .content_tex {
																	width: 90%;
																	left: 0em;
																	padding: 30px;
																}
																/*posicion de la imagen 1*/
																.LisoNum3 img {
																	left: 35%;
																	height: 250px;

																}
																/*posicion del tamaño cuando se abre*/
																.LisoNum3:hover img {
																	top: 75%;
																	left: 33%;
																	height: 250px;

																}
															}
																	@media (max-width: 600px) {
																	.LisoNum3 {
																		top: 17%;
																		width: auto;
																		left: 5%;
																		max-width: 400px;
																		align-items: flex-start;
																		margin: 10px;
																	}
																	/*posicion al poner el mouse*/
																	.LisoNum3:hover {
																		height: 550px;
																	}
																	/*ancho de el texto azul*/
																	.LisoNum3 .content_tex {
																		width: 90%;
																		left: 0em;
																		padding: 30px;
																	}
																	/*posicion de la imagen 1*/
																	.LisoNum3 img {
																		left: 35%;
																		height: 250px;

																	}
																	/*posicion del tamaño cuando se abre*/
																	.LisoNum3:hover img {
																		top: 75%;
																		left: 33%;
																		height: 250px;

																	}
																}
																		@media (max-width: 520px) {
																		.LisoNum3 {
																					top: 17%;
																					width: auto;
																					left: 1%;
																					max-width: 490px;
																					align-items: flex-start;
																					margin: 10px;
																				}
																				.LisoNum3:hover {
																					height: 550px;
																				}
																				.LisoNum3 .content_tex {
																					width: 80%;
																					left: 0em;
																					padding: 30px;

																				}
																				.LisoNum3 img {
																					left: 30%;
																					height: 250px;

																				}
																				.LisoNum3:hover img {
																					top: 65%;
																					left: 33%;
																					height: 270px;

																				}
																	}
																			@media (max-width: 480px) {
																			.LisoNum3 {
																					top: 15%;
																					width: auto;
																					left: 5%;
																					max-width: 490px;
																					align-items: flex-start;
																					margin: 10px;
																				}
																				.LisoNum3:hover {
																					height: 550px;
																				}
																				.LisoNum3 .content_tex {
																					width: 80%;
																					left: 0em;
																					padding: 30px;

																				}
																				.LisoNum3 img {
																					left: 30%;
																					height: 250px;

																				}
																				.LisoNum3:hover img {
																					top: 75%;
																					left: 33%;
																					height: 250px;

																				}
																		}
																				@media (max-width: 410px) {
																				.LisoNum3 {
																					top: 15%;
																					width: auto;
																					left: 5%;
																					max-width: 490px;
																					align-items: flex-start;
																					margin: 10px;
																				}
																				.LisoNum3:hover {
																					height: 550px;
																				}
																				.LisoNum3 .content_tex {
																					width: 90%;
																					left: 0em;
																					padding: 30px;

																				}
																				.LisoNum3 img {
																					left: 32%;
																					height: 300px;

																				}
																				.LisoNum3:hover img {
																					top: 75%;
																					left: 30%;
																					height: 250px;

																				}
																			}
																				@media (max-width: 370px) {
																					.LisoNum3 {
																						top: 15%;
																						width: auto;
																						left: -5%;
																						max-width: 490px;
																						align-items: flex-start;
																						margin: 10px;
																					}
																					.LisoNum3:hover {
																						height: 550px;
																					}
																					.LisoNum3 .content_tex {
																						width: 90%;
																						left: 0em;
																						padding: 30px;

																					}
																					.LisoNum3 img {
																						left: 32%;
																						height: 300px;

																					}
																					.LisoNum3:hover img {
																						top: 55%;
																						left: 30%;
																						height: 210px;

																					}
																				}

@media (max-width: 420px){
	.LisoNum1 .content_tex {
		padding: 20px;
	}
}

/*-----------------------------------------------------------Liso 3 exib------------------------------------------------------------------*/



/*-------imagenliso2-------*/
	.content-containerLis_3{
	position:relative;
	display:flex;
	align-items:center;
	flex-direction:row-reverse;
	justify-content:flex-end;
	margin:70px;
	flex-wrap: wrap;
	min-width: 100px;

}
	.img-containerLis_3{

		height:450px;
		width:1027;
		display:flex;
		align-items:center;

}
	.img-containerLis_3 img{
											
		max-height:100%;
		max-width:100%;
		left: -100% !important;
											
	}
/*---------------------------------TEXTO CUADRO LISO #3------------------------------------------------*/
											.text-containerLis_3{
												display:flex;
												margin-right:auto;
												flex-direction:column;
												flex-wrap:wrap;
												width:600px;
												align-items:center;
												}

												.text-containerLis_3 h1{

													font-size:60px;
													margin:0px;
													padding:0px;
													font-family:bebas kai;
													letter-spacing:2px;
													color:#262626;}
													.text-containerLis_3 p{
														color:#5D5C5C;
														width:300px;
														font-size:40px;}

/*--------------------cuadro donde se agranda para mirar------------------------------*/					
		.center{
			position: sticky;
			top:20%;
			left:30%;
			transform:translate(-0%,-0%);
			width:800px;
			overflow:visible;
			align-items:center;
									max-height:100%;
									max-width:100%;
			
			}

			/*imagen donde se da el 3D*/
			.center img{
				display:flex;
				margin:auto;
				position:relative;

				
			}					
/*-----------------------------------------------------------------------------------*/			
					/* para poner img al dar click que se vea*/
					.modal-3{
						text-align: center;
						display:none;
						position:fixed;
						z-index:1;
						left:0;
						top:0;
						width:100%;
						height:100%;
						overflow:auto;
						background-color:rgba(0,0,0,0.4);
						
					}			
								
					.close{
						
						font-size:45px;
						font-weight:bold;

					}
					
						.close:hover,.close:focus{
							color:red;
							cursor:pointer;
						}

							/*-----------Boton de Vista 3D----------*/	
							.text-containerLis_3 button{

								background-color: green;
								box-shadow:0px 2px 12px rgba(0,0,0,0.4);
								text-shadow:0px 2px 12px rgba(0,0,0,0.6);
								color:white;
								padding:14px 20px;
								margin:8px 26px;
								border-radius:10px;
								border:none;
								cursor:pointer;
								font-size:20px;
								position:absolute;
								width: 300px;
								bottom:0px;
								min-width: 10px;
								left: 13em;
								transform:translateX(-60%);
								max-height:100%;
									max-width:100%;
									text-align: center;

								}

								@media (max-width: 590px) {
								.text-containerLis_3 button {
									background-color:green;
								box-shadow:0px 2px 12px rgba(0,0,0,0.4);
								text-shadow:0px 2px 12px rgba(0,0,0,0.6);
								color:white;
								padding:14px 20px;
								margin:8px 26px;
								border-radius:10px;
								border:none;
								cursor:pointer;
								font-size:20px;
								position:absolute;
								width: 400px;
								bottom:0px;
								min-width: 10px;
								left: 9em;
								transform:translateX(-60%);
								max-height:100%;
									max-width:100%;
									text-align: center;
								}
										}

								@media (max-width: 550px) {
								.text-containerLis_3 button {
									background-color:green;
								box-shadow:0px 2px 12px rgba(0,0,0,0.4);
								text-shadow:0px 2px 12px rgba(0,0,0,0.6);
								color:white;
								padding:14px 20px;
								margin:8px 26px;
								border-radius:10px;
								border:none;
								cursor:pointer;
								font-size:20px;
								position:absolute;
								width: 350px;
								bottom:0px;
								min-width: 10px;
								left: 9em;
								transform:translateX(-60%);
								max-height:100%;
									max-width:100%;
									text-align: center;
								}
										}

								@media (max-width: 520px) {
								.text-containerLis_3 button {
									background-color:green;
								box-shadow:0px 2px 12px rgba(0,0,0,0.4);
								text-shadow:0px 2px 12px rgba(0,0,0,0.6);
								color:white;
								padding:14px 20px;
								margin:8px 26px;
								border-radius:10px;
								border:none;
								cursor:pointer;
								font-size:20px;
								position:absolute;
								width: 300px;
								bottom:0px;
								min-width: 10px;
								left: 9em;
								transform:translateX(-60%);
								max-height:100%;
									max-width:100%;
									text-align: center;
								}
										}

								@media (max-width: 500px) {
								.text-containerLis_3 button {
									background-color:green;
								box-shadow:0px 2px 12px rgba(0,0,0,0.4);
								text-shadow:0px 2px 12px rgba(0,0,0,0.6);
								color:white;
								padding:14px 20px;
								margin:8px 26px;
								border-radius:10px;
								border:none;
								cursor:pointer;
								font-size:20px;
								position:absolute;
								width: 300px;
								bottom:0px;
								min-width: 10px;
								left: 7em;
								transform:translateX(-60%);
								max-height:100%;
									max-width:100%;
									text-align: center;
								}
										}


								@media (max-width: 460px) {
								.text-containerLis_3 button {
									background-color:green;
								box-shadow:0px 2px 12px rgba(0,0,0,0.4);
								text-shadow:0px 2px 12px rgba(0,0,0,0.6);
								color:white;
								padding:14px 20px;
								margin:8px 26px;
								border-radius:10px;
								border:none;
								cursor:pointer;
								font-size:20px;
								position:absolute;
								width: 300px;
								bottom:0px;
								min-width: 10px;
								left: 9em;
								transform:translateX(-60%);
								max-height:100%;
									max-width:100%;
									text-align: center;
								}
										}

								@media (max-width: 400px) {
								.text-containerLis_3 button {
									background-color:green;
								box-shadow:0px 2px 12px rgba(0,0,0,0.4);
								text-shadow:0px 2px 12px rgba(0,0,0,0.6);
								color:white;
								padding:14px 20px;
								margin:8px 26px;
								border-radius:10px;
								border:none;
								cursor:pointer;
								font-size:20px;
								position:absolute;
								width: 300px;
								bottom:0px;
								min-width: 10px;
								left: 7em;
								transform:translateX(-60%);
								max-height:100%;
									max-width:100%;
									text-align: center;
								}
										}

								@media (max-width: 360px) {
								.text-containerLis_3 button {
									background-color:green;
								box-shadow:0px 2px 12px rgba(0,0,0,0.4);
								text-shadow:0px 2px 12px rgba(0,0,0,0.6);
								color:white;
								padding:14px 20px;
								margin:8px 26px;
								border-radius:10px;
								border:none;
								cursor:pointer;
								font-size:20px;
								position:absolute;
								width: 300px;
								bottom:0px;
								min-width: 10px;
								left: 6em;
								transform:translateX(-60%);
								max-height:100%;
									max-width:100%;
									text-align: center;
								}
										}

									@media (max-width: 300px) {
								.text-containerLis_3 button {
									background-color: green;
								box-shadow:0px 2px 12px rgba(0,0,0,0.4);
								text-shadow:0px 2px 12px rgba(0,0,0,0.6);
								color:white;
								padding:14px 20px;
								margin:8px 26px;
								border-radius:10px;
								border:none;
								cursor:pointer;
								font-size:20px;
								position:absolute;
								width: 300px;
								bottom:0px;
								min-width: 10px;
								left: 4em;
								transform:translateX(-60%);
								max-height:100%;
									max-width:100%;
									text-align: center;
								}
										}

								button:hover{
									opacity:0.8;
									}

/*------------------------------Exibicion de liso 3----------------------------------------*/
.Inc_Cdros_lis3 {
	background-image: url("Images/imge30.png");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;

}
/*----------------------------------------------------------------------*/
.cdros_lis3 h2 {
	align-items: center;
	text-align: center;
	font-size: 70px;
	color: #000;
	/*-webkit-text-stroke: 0.3vw  #000; (hace que la letra tenga lineasal rededor)*/
	text-transform: uppercase;
}
@media (max-width: 991px) {
	.cdros_lis3 h2 {
	position: absolute;
	margin-top: 410px;
	font-size: 60px;
	color: #000;
	/*-webkit-text-stroke: 0.3vw  #000; (hace que la letra tenga lineasal rededor)*/
	text-transform: uppercase;

			}
				}

@media (max-width: 959px) {
	.cdros_lis3 h2 {
	position: absolute;
	margin-top: 410px;
	font-size: 60px;
	color: #000;
	/*-webkit-text-stroke: 0.3vw  #000; (hace que la letra tenga lineasal rededor)*/
	text-transform: uppercase;

			}
				}

@media (max-width: 698px) {
	.cdros_lis3 h2 {
	position: absolute;
	margin-top: 410px;
	font-size: 50px;
	color: #000;
	/*-webkit-text-stroke: 0.3vw  #000; (hace que la letra tenga lineasal rededor)*/
	text-transform: uppercase;

			}
				}

@media (max-width: 648px) {
	.cdros_lis3 h2 {
	position: absolute;
	margin-top: 410px;
	font-size: 50px;
	color: #000;
	/*-webkit-text-stroke: 0.3vw  #000; (hace que la letra tenga lineasal rededor)*/
	text-transform: uppercase;

			}
				}

@media (max-width: 643px) {
	.cdros_lis3 h2 {
	position: absolute;
	margin-top: 410px;
	font-size: 50px;
	color: #000;
	/*-webkit-text-stroke: 0.3vw  #000; (hace que la letra tenga lineasal rededor)*/
	text-transform: uppercase;

			}
				}


@media (max-width: 460px) {
	.cdros_lis3 h2 {
	position: absolute;;
	margin-top: 410px;
	font-size: 40px;
	color: #000;
	/*-webkit-text-stroke: 0.3vw  #000; (hace que la letra tenga lineasal rededor)*/
	text-transform: uppercase;

			}
				}


/*---------------------------------------------------------------------*/
.Cuadr_Despl_lis3 .thumbnail_cdros_lis3{
	display: flex;
	padding: 55px;
	width: 450px;
	height: 180px;
	overflow: hidden;
	scroll-behavior: smooth;
}
@media (max-width: 991px) {
	.Cuadr_Despl_lis3 .thumbnail_cdros_lis3 {
	display: flex;
	padding: 180px;
	width: 102px;
	overflow: hidden;
	}
		}
@media (max-width: 698px) {
	.Cuadr_Despl_lis3 .thumbnail_cdros_lis3 {
	display: flex;
	padding: 180px;
	width: 15px;
	overflow: hidden;
	}
		}
@media (max-width: 460px) {
	.Cuadr_Despl_lis3 .thumbnail_cdros_lis3{
	display: flex;
	padding: 180px; /*mirarrrrrrrrrrrrrrrrrr*/
	width: 1px;
	overflow: hidden;
	
	}
		}
/*
.Cuadr_Despl .control {
	
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #2D6E74;
	box-shadow: 1px 1px 25px #1EA0AF;
	cursor: pointer;
	object-fit: cover;
	padding: 15px;

}*/

.Cuadr_Despl_lis3 .control_Derc_lis3 {

	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #2D6E74;
	box-shadow: 1px 1px 25px #1EA0AF;
	cursor: pointer;
	object-fit: cover;
	padding: 15px;
	transform: translate(-70px, 90px);

}
	@media (max-width: 991px) {
		.Cuadr_Despl_lis3 .control_Derc_lis3 {

		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #2D6E74;
		box-shadow: 1px 1px 25px #1EA0AF;
		cursor: pointer;
		object-fit: cover;
		padding: 15px;
		transform: translate( -60px, 78px);

	}
				}
	@media (max-width: 698px) {
		.Cuadr_Despl_lis3 .control_Derc_lis3 {

		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #2D6E74;
		box-shadow: 1px 1px 25px #1EA0AF;
		cursor: pointer;
		object-fit: cover;
		padding: 15px;
		transform: translate( -35px, 79px);

	}
				}
	@media (max-width: 460px) {
		.Cuadr_Despl_lis3 .control_Derc_lis3 {

		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #2D6E74;
		box-shadow: 1px 1px 25px #1EA0AF;
		cursor: pointer;
		object-fit: cover;
		padding: 15px;
		transform: translate(136px, 34px);

	}
				}

.Cuadr_Despl_lis3 .control_Izq_lis3 {

	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #2D6E74;
	box-shadow: 1px 1px 25px #1EA0AF;
	cursor: pointer;
	object-fit: cover;
	padding: 15px;
	transform: translate(580px, -175px);
}

@media (max-width: 991px) {
		.Cuadr_Despl_lis3 .control_Izq_lis3 {

		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #2D6E74;
		box-shadow: 1px 1px 25px #1EA0AF;
		cursor: pointer;
		object-fit: cover;
		padding: 15px;
		transform: translate(500px, -430px);

		}
				}
@media (max-width: 698px) {
		.Cuadr_Despl_lis3 .control_Izq_lis3 {

		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #2D6E74;
		box-shadow: 1px 1px 25px #1EA0AF;
		cursor: pointer;
		object-fit: cover;
		padding: 15px;
		transform: translate(380px, -430px);

		}
				}
@media (max-width: 460px) {
		.Cuadr_Despl_lis3 .control_Izq_lis3 {

		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #2D6E74;
		box-shadow: 1px 1px 25px #1EA0AF;
		cursor: pointer;
		object-fit: cover;
		padding: 15px;
		transform: translate(230px, -470px);

		}
				}
/*----------------------------------------------------------------------*/


.Inc_Cdros_lis3 {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}
@media (max-width: 991px) {
	.Inc_Cdros_lis3 {
	min-height: 90vh;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;

			}
				}
@media (max-width: 698px) {
	.Inc_Cdros_lis3 {
	min-height: 90vh;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	}
		}

.cdros_lis3 .img_dros_lis3 {
	width: 400px;
	height: 620px;
}

@media (max-width: 991px) {
	.cdros_lis3 .img_dros_lis3 {
	margin-top: 80%;
	width: 400px;
	height: 620px;
	}
		}

@media (max-width: 698px) {
	.cdros_lis3 .img_dros_lis3 {
	margin-top: 80%;
	width: 400px;
	height: 620px;
	}
		}
@media (max-width: 460px) {
	.cdros_lis3 .img_dros_lis3 {
	margin-top: 80%;
	width: 400px;
	height: 620px;
	}
		}

.cdros_lis3 .img_dros_lis3 .main_img_lis3 {
	position: relative;
	left: 20px;
	top: -17px;
	width: 110%;
	height: 100%;
	margin: 50px;
	border: 5px solid transparent;
	border-radius: 10px;
	object-fit: cover;
	box-shadow: 1px 1px 45px #000;
	animation: anime 1s linear infinite;

}
@media (max-width: 991px) {
		.cdros_lis3 .img_dros_lis3 .main_img_lis3 {
		z-index: 1;
		left: -30%;
		width: 90%;
		height: 80%;
		margin: 166px;
		border: 5px solid transparent; /*las lineas o el grosor del cuadro*/
		border-radius: 3px;
		object-fit: cover;
		box-shadow: 1px 1px 45px #000;
		animation: anime 10s linear infinite;

		}
				}
@media (max-width: 698px) {
	.cdros_lis3 .img_dros_lis3 .main_img_lis3 {
		z-index: 1;
		left: -31%;
		width: 75%;
		height: 70%;
		margin: 196px;
		border: 5px solid transparent; /*las lineas o el grosor del cuadro*/
		border-radius: 3px;
		object-fit: cover;
		box-shadow: 1px 1px 45px #000;
		animation: anime 10s linear infinite;
	}
		}
@media (max-width: 460px) {
	.cdros_lis3 .img_dros_lis3 .main_img_lis3 {
		z-index: 1;
		left: -37%;
		width: 75%;
		height: 70%;
		margin: 196px;
		border: 5px solid transparent; /*las lineas o el grosor del cuadro*/
		border-radius: 3px;
		object-fit: cover;
		box-shadow: 1px 1px 45px #000;
		animation: anime 10s linear infinite;
	}
		}

.Inc_Cdros @keyframes anime {
	0%{
		filter: hue-rotate(350deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}

.cdros_lis3 .thumbnail_cdros_lis3 {
	height: 90px;
	display: flex;
	justify-content: space-between;
}

.cdros_lis3 .thumbnail_cdros_lis3 .thumbnail_lis3 {
	width: 110px;
	height: 110px;
	margin-left: 1em;
	border-radius: 8px;
	cursor: pointer;
	object-fit: cover;
	opacity: .6;
	transition: .3s;
	transform: translate(-35px, -55px);
}

@media (max-width: 991px) {
		.cdros_lis3 .thumbnail_cdros_lis3 .thumbnail_lis3 {
		width: 100px;
		height: 100px;
		margin-left: 1em;
		border-radius: 8px;
		cursor: pointer;
		object-fit: cover;
		opacity: .5;
		transition: .3s;
		transform: translate(-135px, -170px);
		z-index: 2;

			}
				}
@media (max-width: 698px) {
		.cdros_lis3 .thumbnail_cdros_lis3 .thumbnail_lis3 {
		width: 90px;
		height: 90px;
		margin-left: 1em;
		border-radius: 4px;
		cursor: pointer;
		object-fit: cover;
		opacity: .5;
		transition: .3s;
		transform: translate(-105px, -180px);
		z-index: 2;

			}
				}
@media (max-width: 460px) {
		.cdros_lis3 .thumbnail_cdros_lis3 .thumbnail_lis3 {
		width: 55px;
		height: 81px;
		margin-left: 0.6em;
		border-radius: 4px;
		cursor: pointer;
		object-fit: cover;
		opacity: .5;
		transition: .3s;
		transform: translate(-143px, -132px);
		z-index: 2;

			}
				}

.cdros_lis3 .thumbnail_cdros_lis3 .thumbnail_lis3:hover {
	opacity: 4px;
	margin: 9px;

}

.active_lis3 {
	opacity: 1 !important;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0);
}